#email_log {
  width: 350px;
  height: 50px;
  margin: auto;
  position: relative;
  border-width: thin;
}

#password_log {
  width: 350px;
  height: 50px;
  margin: auto;
  position: relative;
  border-width: thin;
}

#inputbox {
  position: relative;
  left: 60%;
  top: 40%;
  height: 200px;
  margin-top: -100px;
  width: 500px;
  margin-left: 70%;
}

.btn-sign-in {
  position: absolute;
  top: 90%;
  left: 19%;
}

.btn-sign-up {
  position: absolute;
  top: 90%;
  left: 37%;
}

.btn-sign {
  position: absolute;
  left: 21%;
}

#navmenu {
  padding-right: 3%;
}

#welcome {
  position: relative;
  z-index: 1;
}

.form {
  margin-left: 25%;
}

@media screen and (max-width: 768px) {
  .form {
    margin-left: 0%;
  }
}
