.btn-sign-in {
  position: absolute;
  top: 90%;
  left: 19%;
}

.btn-sign-up {
  position: absolute;
  top: 90%;
  left: 37%;
}

.btn-sign {
  position: absolute;
  left: 21%;
}

#navmenu {
  padding-right: 3%;
}

#welcome {
  position: relative;
  z-index: 1;
}

.form {
  margin-left: 25%;
}

@media screen and (max-width: 768px) {
  .form {
    margin-left: 0%;
  }

  #tainer {
    margin-left: -3%;
  }
}

.criteria {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 75%;
}
