#email_log {
  width: 350px;
  height: 50px;
  margin: auto;
  position: relative;
  border-width: thin;
}

#password_log {
  width: 350px;
  height: 50px;
  margin: auto;
  position: relative;
  border-width: thin;
}

#inputbox {
  position: absolute;
  left: 45%;
  top: 40%;
  height: 200px;
  margin-top: -100px;
  width: 500px;
  margin-left: -200px;
}

.btn-sign-in {
  position: absolute;
  top: 90%;
  left: 19%;
}

.btn-sign-up {
  position: absolute;
  top: 90%;
  left: 37%;
}

#singprompt {
  position: absolute;
  top: 94%;
  left: 58%;
}
