#mailaddress {
  width: 350px;
  height: 50px;
  margin: auto;
  position: relative;
  border-width: thin;
}

#inputbox {
  position: absolute;
  left: 45%;
  top: 40%;
  height: 200px;
  margin-top: -100px;
  width: 500px;
  margin-left: -200px;
}

.btn-sign {
  position: absolute;
  left: 19%;
}

#singprompt {
  position: relative;
  left: 5%;
  margin-top: 7px;
  margin-left: 19px;
}

#navicon {
  margin-left: -50px;
}

#inputbox {
  margin-top: -15px;
}

#register_form {
  margin-top: -15px;
}
